/* styles.css */
.vote-bar {
    margin-top: 50px;
    margin-left: 100px;
    color: black;
}

.vote-bar > h1, h2 {
    
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
}

.vote-item {
    margin-top: 145px;
    margin-left: 380px;
    width: 1100px;
    height: 500px;
    padding: 10px;
    margin-bottom: 20px;
}

.vote-item h2 {
    top: 746px;
    position: absolute;
    left: 881px;
    font-size: 20px;
}

.vote-item img {
    max-width: 1000px;
    height: auto;
    display: block;
    margin-top: 63px;
    margin-left: -271px;
}

.vote-item p {
    position: relative;
    top: -516px;
    margin-bottom: -50px;
    margin-left: 418px;
    padding: 83px;
}

 .button-container {
  	display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
    top: -580px;
        
    }

.button1 {
    margin: 10px;
    position: relative;
    left: 835px;
    top: -36px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
.button-container .selected{
		background-color: orange;
	}
.button2{
	 margin: 10px;
    position: relative;
    left: 835px;
    top: -15px;
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.bar-container1 {
	display: flex;
    width: 770px;
    height: 40px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    top: -625px;
    left: 650px;
    background-color: #FF69B4;
    margin-top: -240px;
    margin-left: -150px;
}
.bar-container2{
    display: flex;
    width: 770px;
    height: 40px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    top: -601px;
    background-color: skyblue;
    margin-top: 100px;
    margin-left: 501px;
}
.bar1 {
    position: relative;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(255, 0, 0);
}
.bar2 {
    position: relative;
    height: 100%;
    border-radius: 5px;
    background-color: blue;
}


.text-left{
    position:absolute;
}

#text1 {
    color: white;
    position: absolute;
    top: 27%;
    left: 5%;
}
#text2{
    color: white;
    position: absolute;
    top: 27%;
    left: 5%;
}
.percentage{
	position: absolute;
    color: white;
    left: 700px;
    top: 10px;
}
 #pagination {
	padding: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    left: 880px;
    top:2639px;
}
#pagination button{
	background-color:white;
	border: none;
	margin:10px;
}
#pagination button:hover{
		box-shadow: 0 0 0 1px gray; /* 회색 테두리 효과 */
}
    #prevButton {
    position: relative;
    width: 50px;
    height: 30px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    left: -20px;
    text-align: center;
    padding: 4.5px 3px;
    background-color:white;
        }
     #nextButton{
    position: relative;
    width: 50px;
    height: 30px;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 15px;
    left: 11px;
    text-align: center;
    padding: 4.5px 3px;
    background-color:white;
	 }  

        #pagination span {
            font-size: 18px;
            margin: 0 10px;
        }
#comment-input{
	width: 1100px;
    height: 70px;
    border: 1px solid #ddd;
    outline: none;
    position: absolute;
    left: 400px;
    top: 1200px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
}
#comment-section{
    position: absolute;
    top: 1685px;
    left: 345px;
    width: 1200px;
}
#submitComment{
    position: absolute;
    top: 1650px;
    left: 1446px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100px;
    height: 50px;
}
h3{
    position: absolute;
    font-size: 32px;
    top: 1411px;
    left: 352px;
}

#content{
    width: 1200px;
    height: 70px;
    border: 1px solid #ddd;
    outline: none;
    position: absolute;
    left: 350px;
    top: 1555px;
    resize: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    resize: none;
}
#name1{
    position: absolute;
    top: 1518px;
    left: 352px;
    font-size: 20px
	
}
.comment-item{
	height:160px;
	border-bottom: 1px solid #ccc;
}
.comment-item h5{
	position:relative;
	top:-53px;
}
.comment-item p{
	position:relative;
	top:16px;
}
.edit-button{
    color: #ffc107;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    left: 1079px;
    top: -104px;
}
.delete-button{
    position: relative;
    left: 1121px;
    top: -132px;
    color: #dc3545;
    border: none;
    background-color: transparent;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}
.menu-button{
	display: block;
    position: relative;
    background-color: #fff;
    color: black;
    font-size: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    left: 1126px;
    top: -113px;
}
.edit-content{
    position: relative;
    top: -174px;
    width: 1065px;
    height: 50px;
    resize: none;
    border: 1px solid #ddd;
	
}
.edit-form{
	position:relative;
}
.edit-form button{
    height: 30px;
    position: relative;
    top: -150px;
    left: -122px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 3px;
    width: 50px;
    margin-right: 13px;
}
 .current-page{
		color: blue;
}