<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>리뷰 페이지</title>
    <link rel="stylesheet" href="/css/allreview.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <div class="header-container">
        <div class="logo-container">
            <a href="/" class="logo-text">CIRCLE TAROT</a>
            <div class="hover-content">
                <span class="hover-text left-text">동그</span>
                <div class="logo-image"></div>
                <span class="hover-text right-text">라미</span>
            </div>
        </div>
        <div id="right-section">
            <a href="/login" id="loginButton">로그인 / 회원가입</a>
            <div id="userDropdownContainer" style="display: none">
                <a href="#" id="userName" class="dropdown-toggle"></a>
                <div id="userDropdown" class="dropdown-menu">
                    <a href="/mypage">마이페이지</a>
                    <a href="#" id="logoutButton">로그아웃</a>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="nav-section">
    <div id="center-section">
        <nav id="nav">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/topic">타로 보러가기</a></li>
                <li><a href="/vote">투표</a></li>
                <li><a href="/allreview">리뷰</a></li>
            </ul>
        </nav>
    </div>
</section>
<div class="review-summary">
    <h1>리뷰 <span id="review-count">0</span></h1>
    <div class="summary-content">
        <div class="average-rating">
            <div class="rating-score">
                <span class="fixed-star">★</span>
                <span class="rating-value">0.0</span>
            </div>
            <p class="rating-details">0개의 리뷰</p>
        </div>
        <div class="divider"></div>
        <div class="satisfaction">
            <div class="stars">
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
                <span class="star">★</span>
            </div>
        </div>
    </div>
</div>
<div class="review-gallery">
    <h2>리뷰 모아보기</h2>
    <div class="reviews" id="reviews"></div>
    <div id="pagination"></div>
</div>
<!-- Review Modal -->
<div id="review-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>리뷰 수정하기</h2>
        <p>동그라미가 들려준 이야기를 수정하여 더 나은 경험을 공유하세요!</p>
        <form id="reviewForm" method="post" action="/allreview/submit">
            <div class="review-details">
                <div class="review-user">
                    <img src="/images/user-avatar.png" alt="User Avatar" class="user-avatar">
                    <div class="user-info">
                        <span class="user-name">닉네임</span>
                        <span class="user-role">#소주제</span>
                    </div>
                </div>
                <div class="review-rating">
                    <label for="modal-rating">평점 <span class="modal-rating-score">5점</span></label>
                    <div id="modal-rating">
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                        <span class="star">&#9733;</span>
                    </div>
                </div>
            </div>
            <textarea id="review-text" name="reviewText" placeholder="100자 미만 작성해주세요"></textarea>
            <div id="character-count">0/100</div>
            <input type="hidden" id="ratingScore" name="ratingScore" value="5">
            <div class="modal-buttons">
                <button type="button" id="update-review" style="display: none;">수정</button>
                <button type="button" id="delete-review" style="display: none;">삭제</button>
            </div>
        </form>
    </div>
</div>
<footer>
    <div class="footer-wrapper">
        <div class="footer-company">
            <label class="footer-label">CIRCLE TAROT</label>
            <div class="description">
                <div class="footer-companyinfo">
                    <p>(주) 동그라미타로 | 대표: 동그라미 | 고객센터 02-1234-5678 | 주소: 서울시 서초구 사평대로52길 9-2 소망빌딩 3층 | 사업자번호: xxx-xx-xxxxx | 이메일: donggramitarot@naver.com</p>
                </div>
                <div class="copyright">
                    <p>Copyright ⓒ 2024 by DongGramiTarot all rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/allreview.js"></script>
</body>
</html>
