<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./css/signup.css">
</head>
<body>
    <header>
        <div class="header-container">
          <div class="logo-container">
            <a th:href="@{/}" class="logo-text">CIRCLE TAROT</a>
            <div class="hover-content">
              <span class="hover-text left-text">동그</span>
              <div class="logo-image"></div>
              <span class="hover-text right-text">라미</span>
            </div>
          </div>

		  <div id="right-section">
		  	      <!-- 로그인하지 않은 경우 -->
		  	      <a th:if="${session.loggedInUser == null}" th:href="@{/login}" id="loginButton">로그인 / 회원가입</a>
		  	               
		  	       <!-- 로그인한 경우 -->
		  	       <div th:if="${session.loggedInUser != null}" id="userDropdownContainer">
		  	            <a href="#" id="userName" class="dropdown-toggle">
		  	                <img src="/images/mainlogo.png" alt="프로필 이미지" class="profile-img">
		  	                <span th:text="${session.loggedInUser.nickname}">사용자 이름</span>
		  	            </a>
		  	            <div id="userDropdown" class="dropdown-menu">
		  	                 <a th:href="@{/mypage}">마이페이지</a>
		  	                 <a th:href="@{/auth/logout}" id="logoutButton">로그아웃</a>
		  	            </div>
		  	        </div>
		  	   </div>
        </div>
      </header>

      <section id="nav-section">
        <div id="center-section">
          <nav id="nav">
            <ul>
              <li>
                <a th:href="@{/}">HOME</a>
              </li>
              <li><a th:href="@{/topic}">타로 보러가기</a></li>
              <li>
                <a th:href="@{/vote}">투표</a>
              </li>
              <li><a th:href="@{/review}">후기</a></li>
            </ul>
          </nav>
        </div>
      </section>
    
    <div class="login-wrapper">
        <h2>로그인</h2>
        <form method="post" th:action="@{/custom-login}" id="login-form">
            <input type="text" name="email" placeholder="아이디(이메일)">
            <input type="password" name="password" placeholder="비밀번호">
            <div class="input-control">
                <label for="remember-check">
                    <input type="checkbox" id="remember-check"> 아이디 저장하기
                </label>
            </div>
			<div id="login"><input type="submit" value="로그인"></div>
        </form>
            
            <div class="find-links">
                <input type="button" value="회원가입" onclick="window.location.href = '/join';">
                <span class="separator">|</span>
                <input type="button" value="아이디 찾기" onclick="window.location.href = '/find_Id';">
                <span class="separator">|</span>
                <input type="button" value="비밀번호 찾기" onclick="window.location.href = '/find_Pwd';">
            </div>
    </div>

    <footer>
        <div class="footer-wrapper">
             <div class="footer-company">
                 <label class="footer-label">CIRCLE TAROT</label>
                     <div class="description">
                         <div class="footer-companyinfo">
                             <p>(주) 동그라미타로 | 대표: 동그라미 | 고객센터 02-1234-5678 | 주소: 서울시 서초구 사평대로52길 9-2 소망빌딩 3층 | 사업자번호: xxx-xx-xxxxx | 이메일: donggramitarot@naver.com</p>
                         </div>
                         <div class="copyright">
                             <p>Copyright ⓒ 2024 by DongGramiTarot all rights reserved.</p>
                         </div>
                     </div>
             </div>		
     </footer>
</body>
</html>